

.site-logo-1{
	width: 100%;
	height: 50px;
	background-color: rgba(7,74,140,0.93);

	font-size: 22px;	
	display: flex;
	justify-content: space-between; 
}
.block-li{
	display: flex;
	padding: 17px;	
	color: yellow;
}
.block-li:hover{
	background-color: rgba(15, 134, 189, 0.93);
	height: 50px;	
}
.navi{	
	display: flex;
}

.conteiner{
    width: 850px;
    
    margin: 0 auto;
}
.block{
   width: 400px;
   height: 300px;
    border-radius: 35px;
    margin-top: 20px;
    background-color: rgba(7,74,140,0.93);
    color: yellow;  
   padding: 10px;
   position: relative;
}

.line1{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}
.text-block{
    
    color: yellow;
    margin-top: 10px;
    text-align: center;
}
.link-block{
    
    color: yellow;
    font-size: 17px;
    text-align: center;
    height: 50px;
    
    
}
.link-block:hover{
	background-color: rgba(15, 134, 189, 0.93);
	height: 50px;	
     
}
.anime{
    width: 50px;    
    height: 50px;    
    background-color: red;    
    position: absolute;    
    animation: das 5s infinite;
 }
    
    @keyframes das {    
    0% {top: 0px; left: 0px; transform: rotate(0deg);}    
    25% {top: 0px; left: 100px; transform: rotate(45deg);}    
    50% {top: 100px; left: 100px; transform: rotate(90deg);}    
    75% {top: 100px; left: 0px; transform: rotate(200deg);}    
    100% {top: 0px; left: 0px; transform: rotate(360deg);}
}
