.big-box{
    width: 1000px;
    height: 500px;
    background-color: blanchedalmond;
    margin-left: auto;
    margin-right: auto;  

}

.gakvetili{
    color: blue;
    font-size: 40px;
    margin-left: 300px;
}
.box-1{
    padding-top: 60px;
    padding-left: 60px;
    font-size: 22px;
    color: brown;
}