

.box{
    width: 100px;
    height: 300px;
    background-color: black;
    border-radius: 15px;
    position: relative;
    left: 380px;
    top: 20px;
    animation: svetafori 10s infinite;
}


.child-box-1{
    width: 70px;
    height: 70px;
    background-color: rgb(240, 145, 145);
    border-radius: 50%;
    position: absolute;
    left: 16px;
    top: 20px;
}
.child-box-2{
    width: 70px;
    height: 70px;
    background-color: rgb(218, 235, 108);
    border-radius: 50%;
    position: absolute;
    left: 16px;
    top: 116px;
}
.child-box-3{
    width: 70px;
    height: 70px;
    background-color: rgb(106, 233, 125);
    border-radius: 50%;
    position: absolute;
    left: 16px;
    bottom: 20px;
}
.child-box-1:hover{
    background-color: red;
}

.child-box-2:hover{
    background-color: yellow;
}

.child-box-3:hover{
    background-color: green;
}