/*
.box{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: relative;
    animation: svetafori 5s infinite;
}

@keyframes svetafori{
    0% {top: 100px;}
    50%{top: 500px; transform: rotate(180deg);}
    100%{top: 100px;}
}

.box-2{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    animation: box-2 5s infinite;
    position: absolute;
}

@keyframes box-2{
    0%{left: 100px;}
    50%{left: 800px; transform: rotate(180deg);}
    100%{left: 100px;}
}
*/

.box{
    width: 100px;
    height: 100px;
    background-color: yellow;
   
    animation: svetafori 5s infinite alternate;
}

@keyframes svetafori {
    0% {transform: translatex(100px, 600px)rotate(0deg);}
    100% {transform: translatex(1000px)rotate(360deg);}
}